__pycache__/
backup_experiments/
data/*/*.npz
experiments/*
!experiments/config
#!experiments/neuro
#!experiments/neuro/*
log/*
saved_models
src/explainer
src/lib/__pycache__/
src/job.json
src/submit-to-chronos.sh
src/jsons
src/old_jsons
src/run_all.sh
src/run_all.bat
src/backup_run_all.bat
src/scripts/*
!src/scripts/*.py
*old*
*terry*
*tfevents*
